h1 {
    color: #EF9C57;
}

.container{
    background-color: #D2E7F0;
}

body {
      background-color: #D2F0EA;
}

li {
  display: inline;
}

.login a:active {
  top: 5px
}

.login a {
cursor: pointer;
margin-right: 30px
padding: 8px 18px;
border-style: ridge;
position: relative;
}

.login {
  float: right;
}
